<a href="https://colab.research.google.com/github/ele9996/data-science-lab-homework/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
from random import gauss
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

##Import Global Land Temperature Dataset

In [56]:
dataset = pd.read_csv('https://raw.githubusercontent.com/dbdmg/data-science-lab/master/datasets/GLT_filtered.csv').to_numpy()
dataset

array([['1849-01-01', 26.704, 1.435, ..., "Côte D'Ivoire", '5.63N',
        '3.23W'],
       ['1849-02-01', 27.434, 1.362, ..., "Côte D'Ivoire", '5.63N',
        '3.23W'],
       ['1849-03-01', nan, nan, ..., "Côte D'Ivoire", '5.63N', '3.23W'],
       ...,
       ['2012-10-01', 12.399000000000001, 0.526, ..., 'China', '34.56N',
        '108.97E'],
       ['2012-11-01', 4.7360000000000015, 0.519, ..., 'China', '34.56N',
        '108.97E'],
       ['2012-12-01', -0.8220000000000001, 0.451, ..., 'China', '34.56N',
        '108.97E']], dtype=object)

In [75]:
for i in range(0,dataset.shape[0]):            #dataset.shape[0]
  
  if str(dataset[i][1]) =="nan":
    
    if str(dataset[i-1][1]) == 'nan':
      dataset[i][1]=np.mean([0,dataset[i+1][1]])


    elif str(dataset[i+1][1])== 'nan':
      dataset[i][1]=np.mean([dataset[i-1][1],0])

    else:
      dataset[i][1]=np.mean([dataset[i-1][1],dataset[i+1][1]])

print(dataset)

[['1849-01-01' 13.306000000000001 1.435 ... "Côte D'Ivoire" '5.63N'
  '3.23W']
 ['1849-02-01' 6.6530000000000005 1.362 ... "Côte D'Ivoire" '5.63N'
  '3.23W']
 ['1849-03-01' 3.3265000000000002 nan ... "Côte D'Ivoire" '5.63N' '3.23W']
 ...
 ['2012-10-01' 0.0 0.526 ... 'China' '34.56N' '108.97E']
 ['2012-11-01' -0.41100000000000003 0.519 ... 'China' '34.56N' '108.97E']
 ['2012-12-01' -0.8220000000000001 0.451 ... 'China' '34.56N' '108.97E']]

## Top N hottest meausurements and top N coldest measurements
Define a function that, given a name of a city and an integer N>0 prints:


1.   The N top hottest measurements
2.   The N top coldest measurements

In [92]:
def topHotCold(city,n):
  newds=dataset[dataset[:,3] == city]
  

  print(newds)


 
 
topHotCold("Delhi",3)

[['1817-01-01' 0.0 3.86 ... 'India' '28.13N' '77.27E']
 ['1817-02-01' 0.0 2.329 ... 'India' '28.13N' '77.27E']
 ['1817-03-01' 0.0 2.105 ... 'India' '28.13N' '77.27E']
 ...
 ['2012-10-01' 0.0 0.312 ... 'India' '28.13N' '77.27E']
 ['2012-11-01' 0.0 nan ... 'India' '28.13N' '77.27E']
 ['2012-12-01' 0.0 0.4270000000000001 ... 'India' '28.13N' '77.27E']]

In [ ]:
'''indicizzazione numpy
for i in range (0,len(df)):
  entry=df.iloc[[i],[1]] #iloc--> seleziona gli elementi del dataset by position [numero]--> colonne  [[numero]]--> righe
'''