<a href="https://colab.research.google.com/github/ele9996/data-science-lab-homework/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
from random import gauss
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

##Import Global Land Temperature Dataset

In [94]:
dataset = pd.read_csv('https://raw.githubusercontent.com/dbdmg/data-science-lab/master/datasets/GLT_filtered.csv').to_numpy()
dataset

array([['1849-01-01', 26.704, 1.435, ..., "Côte D'Ivoire", '5.63N',
        '3.23W'],
       ['1849-02-01', 27.434, 1.362, ..., "Côte D'Ivoire", '5.63N',
        '3.23W'],
       ['1849-03-01', nan, nan, ..., "Côte D'Ivoire", '5.63N', '3.23W'],
       ...,
       ['2012-10-01', 12.399000000000001, 0.526, ..., 'China', '34.56N',
        '108.97E'],
       ['2012-11-01', 4.7360000000000015, 0.519, ..., 'China', '34.56N',
        '108.97E'],
       ['2012-12-01', -0.8220000000000001, 0.451, ..., 'China', '34.56N',
        '108.97E']], dtype=object)

In [95]:
for i in range(0,dataset.shape[0]):            #dataset.shape[0]
  
  if str(dataset[i][1]) =="nan":
    
    if str(dataset[i-1][1]) == 'nan':
      dataset[i][1]=np.mean([0,dataset[i+1][1]])


    elif str(dataset[i+1][1])== 'nan':
      dataset[i][1]=np.mean([dataset[i-1][1],0])

    else:
      dataset[i][1]=np.mean([dataset[i-1][1],dataset[i+1][1]])

print(dataset)

[['1849-01-01' 26.704 1.435 ... "Côte D'Ivoire" '5.63N' '3.23W']
 ['1849-02-01' 27.434 1.362 ... "Côte D'Ivoire" '5.63N' '3.23W']
 ['1849-03-01' 26.787 nan ... "Côte D'Ivoire" '5.63N' '3.23W']
 ...
 ['2012-10-01' 12.399000000000001 0.526 ... 'China' '34.56N' '108.97E']
 ['2012-11-01' 4.7360000000000015 0.519 ... 'China' '34.56N' '108.97E']
 ['2012-12-01' -0.8220000000000001 0.451 ... 'China' '34.56N' '108.97E']]

## Top N hottest meausurements and top N coldest measurements
Define a function that, given a name of a city and an integer N>0 prints:


1.   The N top hottest measurements
2.   The N top coldest measurements

In [102]:
def topHotCold(city,n):
  newds=dataset[dataset[:,3] == city]
  sorted_array = newds[np.argsort(newds[:, 1])] #sorta solo dal più piccolo al più grande
  largest_indices = sorted_array[::-1][:n] #fai sortare dal più grande al più piccolo
  lowest_indices= sorted_array[:n]



  print(largest_indices)
  print("-------------------------------------------------------------------")
  print(lowest_indices)


 
 
topHotCold("Delhi",3)

[['1995-06-01' 36.291 0.338 'Delhi' 'India' '28.13N' '77.27E']
 ['1932-06-01' 36.005 0.474 'Delhi' 'India' '28.13N' '77.27E']
 ['1923-06-01' 35.988 0.348 'Delhi' 'India' '28.13N' '77.27E']]
-------------------------------------------------------------------
[['1869-11-01' 1.3526005400926011e-42 nan 'Delhi' 'India' '28.13N'
  '77.27E']
 ['1869-10-01' 2.7052010801852022e-42 nan 'Delhi' 'India' '28.13N'
  '77.27E']
 ['1869-09-01' 5.4104021603704044e-42 nan 'Delhi' 'India' '28.13N'
  '77.27E']]

In [97]:
'''indicizzazione numpy
for i in range (0,len(df)):
  entry=df.iloc[[i],[1]] #iloc--> seleziona gli elementi del dataset by position [numero]--> colonne  [[numero]]--> righe
'''

'indicizzazione numpy\nfor i in range (0,len(df)):\n  entry=df.iloc[[i],[1]] #iloc--> seleziona gli elementi del dataset by position [numero]--> colonne  [[numero]]--> righe\n'